@charset "utf-8";

// Définir les couleurs
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$darky: #222222;

// Modifier les variables globales
// $white: $white;
// $black: $black;
$light: $beige-light;
$dark: $darky;
$primary: $pink;
$link: $purple;
$info: $brown;
// $success: $success;
// $warning: $warning;
// $danger: $danger;
// $shades
// $black-bis: $black-bis;
// $black-ter: $black-ter;
// $grey-darker: $grey-darker;
// $grey-dark: $grey-dark;
// $grey-light: $grey-light;
// $grey-lighter: $grey-lighter;
// $white-ter: $white-ter;
// $white-bis: $white-bis;

// Modifier les variables de composents
$body-background-color: $darky;

// Importer seulement ce qui est utilisé
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";